body{
    overflow-x: hidden;
    background: rgb(255, 251, 241);
    
}
.nav-items{
    display: none;
}
.line{
    height: 3px;
    width: 100%;
    
    background: #cbd3f5;
   
}
.head{
    display: flex;   
    flex-direction: column;
    
}
.desktop{
    position:fixed;
    display: flex;
    justify-content: flex-end;
    background-color: #f9dbc0d3;
    height: 60px;
    width: 100%;
   z-index: 9000;
}
.desktop img{
    width: 100px;
    height: 60px;
}
.desktop ul {
    display: flex;
    margin-right: 5%;
    
}
.desktop ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    width:  100px;
    justify-content: space-around;
    
}
.desktop a{
    text-decoration: none;
    color: rgb(148, 148, 148);
    font-weight: bold;
    font-size: 16px;
    transition:  1s;
    
}

.desktop ul :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100px;
    color: rgb(164, 162, 162); 
    transition:  0.5s ease-in-out;
    
}
.desktop li a:hover{
    border-bottom:1px solid rgb(145, 145, 145) ;
    height: 40px;
    
}
.headTitle{
    background-color: #fdeeedd3;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headTitle h1{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px ;
    color:#837f7f;
}
.headTitle h2{
    margin-top: 1%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5px ;
    color:#837f7f;
}
.cardFather {
    display: flex;
}
.text{
    width: 28%;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 50;
}
.text h1{
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    color: #777 ;
}
.card {
    position: relative;
    z-index: 100;
    float: top;
    width: 28%;
    margin-left: 2%;
    margin-top: 10%;
    background-color: #f3eeea;
    border-radius: 8px;
    box-shadow: 40px 20px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    display: flex;
    transition:  1s;
    
}


.touch{
    color: #837f7f;
    margin-top: 5%;
    margin-left: 5px;
    writing-mode: vertical-rl;
    font-size: 16px;
    
}
.hidden{
    display: none;
}
.image-placeholder {
  
   height: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder img{
    width: 500px;
    height: 50%;
}

.text-content {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 60px;
    font-weight: bold;
    color: #837f7f;
}
.text-content h1{
    font-size: 24px;
}
.text-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.text{
    box-shadow: 100px 40px 20px 30px   rgba(204, 158, 158, 0.2);
}

.text-content p {
    margin: 0;
    font-size: 14px;
    color: #777;
}


.footer{
	background: #eed9b0d8;
	height: 180px;
	display: flex;
    padding-left: 5%;
    margin-top: 5%;
    justify-content: space-around;
    padding-bottom: 4%;
    
}
.footerLine{
	height: 3px;
    width: 250px;
    color: #000;
    background: #e8f0ee;
   
}
.connection{
	margin-top:5%;
	color: rgb(68, 68, 68);
	line-height: 30px;
	font-weight: bold;
    
}
.list{
    margin-top:6%;
	color: rgb(68, 68, 68);
	line-height: 30px;
	font-weight: bold;
}
#toggler{
    display: none;
}

.cardMobile{
    display: none;
}
.textMobile{
    display: none;
}
.Line{
    position: fixed;
     right: 0;
     top: 70%;
     width: 60px;
     height: 60px;
     z-index: 9000;
 }
 .Line img{ 
     width: 50px;
     height: 50px;
 }